# The GroupName here is used to identify your company or business unit that
# created this webhook.
# For example, this may be "acme.mycompany.example".
# This name will need to be referenced in each Issuer's `webhook` stanza to
# inform cert-manager of where to send ChallengePayload resources in order to
# solve the DNS01 challenge.
# This group name should be **unique**, hence using your own company's domain
# here is recommended.

replicaCount: 1

nameOverride: ""
fullnameOverride: ""

image:
  repository: ovhcom/public-cloud-databases-operator
  tag: latest
  pullPolicy: IfNotPresent

imagePullSecrets: []

ovhCredentials:
  ## Name of the secret to create if `useSecret` is true and `existingSecret` is empty. Optional.
  ##
  name:
  ## Name of a pre-existing secret (if any) in the Operator namespace
  ## that should be used to get API credentials. Optional.
  ##
  existingSecret:

  ## This will automatically create the secret with you OVHcloud API creds
  ##
  applicationKey: ""
  applicationSecret: ""
  consumerKey: ""
  region: "ovh-eu"

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
